<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>cafe.cupped.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cupped</string>
			</array>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Cupped uses Face ID to securely sign you in.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lora[wght].ttf</string>
		<string>Lora-Italic[wght].ttf</string>
		<string>PlusJakartaSans[wght].ttf</string>
		<string>PlusJakartaSans-Italic[wght].ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
	</dict>
</dict>
</plist>
